@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #CCC;
    position: relative;
}

.max__width {
    max-width: 85%;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

nav .max__width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a,
.logout__btn {
    font-size: large;
    padding: 10px 18px;
    color: black;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
    transition: 0.5s;
}

.logout__btn {
    background-color: crimson;
    color: #fff;
}

.logout__btn:hover {
    background-color: rgb(129, 17, 39);
}

nav ul li a.active,
nav ul li a:hover {
    background-color: crimson;
    color: #fff;
}

/* Add Post Segment Start */

.add__post__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add__post {
    width: 40%;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload__image__label {
    border: 2px dashed rgb(94, 88, 88);
    display: inline-block;
    width: 50%;
    height: 100px;
    position: relative;
    cursor: pointer;
    opacity: 0.6;
}

.upload__image__label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.add__post__input__field {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.add__post__input {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 0 6px 15px;
    border: 2px solid grey;
    border-radius: 6px;
    resize: vertical;
}

.add__post__input__field button {
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    margin-left: 10px;
    border: 0;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.add__post__input__field button:hover {
    background-color: rgb(2, 2, 153);
}

/* Add Post Segment End */

/* Post Segment Start */

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    width: 40%;
    background-color: white;
    margin: 40px 0;
    border: 0;
    border-radius: 10px;
}

.post__header {
    display: flex;
    padding: 10px;
    padding-bottom: 0;
}

.post__header__text {
    margin-left: 8px;
}

.post__header img {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 50%;
}

.post__creator {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.post__time {
    color: grey;
    font-weight: 600;
    margin-left: 4px;
    font-family: 'Lato', sans-serif;
}

.post__desc {
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    padding-left: 15px;
    font-weight: 600;
}

.post__img {
    width: 100%;
}

/* Post Segment End */

/* Profile Segment Start */

aside {
    width: 20%;
    margin: 30px 0 0 30px;
}

.about__top {
    background-color: rgb(243, 240, 240);
    border: 0;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
}

.profile__img {
    width: 160px;
    height: 160px;
    border: 4px solid gray;
    border-radius: 50%;
}

.profile__name {
    margin-top: 10px;
}

.about__info {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border: 0;
    border-radius: 6px;
}

.about__info__title {
    text-align: center;
    padding: 20px 0 30px 0;
    position: relative;
}

.about__info__title::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 2px;
    background-color: gray;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.history {
    display: flex;
    margin: 10px 0;
}

.history__desc {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    color: gray;
}

.buttons {
    margin-top: 10px;
}

.about__top__btn {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 14px;
    border: 0;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.about__top__btn i {
    margin-right: 5px;
}

.about__top__btn:hover {
    background-color: rgb(6, 6, 126);
}

.about__top__btn:last-child {
    background-color: rgba(158, 144, 146, 0.6);
    color: black;
}

.about__top__btn:last-child:hover {
    background-color: rgba(158, 144, 146, 1);
}

.fa-comment {
    color: #fff;
}

/* Profile Segment End */

/* Notification Segment Start */

.notifications {
    width: 70%;
    background-color: #fff;
    margin: 40px auto 0 auto;
    border: 0;
    border-radius: 14px;
}

.notification__top__title {
    font-size: 24px;
    padding: 20px 0 20px 20px;
    position: relative;
}

.notification__top__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    left: 0;
    bottom: 0;
}

.notification {
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid rgba(189, 183, 183, 0.4);
    color: black;
    transition: 0.4s;
}

.notification:hover {
    background: rgba(189, 183, 183, 0.4);
}

.notification__info {
    display: flex;
    align-items: center;
}

.notification__text {
    margin-left: 15px;
}

.notification img {
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
}

.fa-bell {
    position: absolute;
    font-size: 26px;
    top: 13px;
    left: 13px;
}

.fa-ellipsis-vertical {
    font-size: 24px;
    cursor: pointer;
    padding: 20px 30px;
    border: 0;
    border-radius: 50%;
    transition: 0.5s;
}

.notification .fa-comment {
    font-size: 26px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.fa-ellipsis-vertical:hover,
.fa-comment:hover {
    background: rgba(189, 183, 183, 0.4);
}

.notification__desc {
    font-size: 14px;
    color: grey;
    margin-left: 5px;
    font-weight: 600;
}

/* Notification Segment End */

/* Friend Request Segment Start */

.friend__request__btn {
    padding: 6px 12px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: 0;
    border-radius: 4px;
    transition: 0.5s;
}

.friend__request__btn:hover {
    background-color: rgb(3, 53, 3);
}

.friend__request__btn:last-child {
    background-color: red;
}

.friend__request__btn:last-child:hover {
    background-color: rgb(139, 4, 4);
}

.friend__request__btn i {
    margin-right: 5px;
}

/* Friend Request Segment End */

/* Registration and Login Form Segment Start */

.register__body {
    height: 100vh;
}

.register__form {
    background-color: #fff;
    width: 40%;
    margin: 50px auto 0 auto;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.register__input__field {
    width: 100%;
    position: relative;
    margin: 15px 0;
}

/* .register__label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 3px;
    background-color: #fff;
    color: gray;
    transform: translateY(-50%);
    transition: 0.5s;
} */

.register__input {
    width: 100%;
    padding: 6px 0 6px 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: 600;
}

.register__input:focus {
    border-bottom: 2px solid black;
}

.register__input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: rgb(189, 189, 189);
}

.register__form .notification__top__title {
    border-bottom: 1.2px solid rgba(0, 0, 0, 1);
}

.register__input__field:last-child {
    text-align: right;
}

.submit__btn {
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
    border: 0;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.submit__btn:hover {
    background-color: rgb(9, 9, 148);
}

/* Registration and Login Form Segment End */

/* Message Box Start */

.message__box aside ul li a {
    display: flex;
    align-items: center;
}

.message__box aside ul li a img {
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
}

/* Message Box End */